<?xml version="1.0" encoding="UTF-8" ?>

<Configuration>
    <Appenders>
        <Console name="CA" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
          <!--  <PatternLayout pattern="[%d{ISO8601} %-5p] %m%n"/>-->
        </Console>

        <RollingFile name="FA" fileName="${cliLogPath}.log" filePattern=".\logs\$${date:yyyy-MM}\app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <!--<pattern>%d{ISO8601} [%t] (%F:%L) %-5p - %m%n</pattern>-->
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB"/>

            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="org.apache.http" level="WARN"/>
        <Logger name="org.apache.cxf" level="ERROR"/>
        <Logger name="org.springframework" level="ERROR"/>
        <Logger name="org.whitesource.agent" level="ERROR"/>

        <Root level="INFO">
            <AppenderRef ref="FA"/>
            <AppenderRef ref="CA"/>
        </Root>
    </Loggers>
</Configuration>
