<?xml version="1.0" encoding="UTF-8" ?>

<Configuration>
    <Appenders>
        <Console name="CA" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{ISO8601} %-5p] %m%n"/>
        </Console>

        <Routing name="Routing">
            <Routes pattern="$${sys:cliLogPath}">
                <Route>
                    <File name="File" fileName="${sys:cliLogPath}"
                          immediateFlush="false" append="false">
                        <PatternLayout
                                pattern="%d{ISO8601} [%t] (%F:%L) %-5p - %m%n"/>
                    </File>
                </Route>

            </Routes>
        </Routing>

    </Appenders>

    <Loggers>
        <Logger name="org.apache.http" level="WARN" additivity="false">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="CA"/>
        </Logger>
        <Logger name="org.apache.http.wire" level="WARN" additivity="false">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="CA"/>
        </Logger>
        <Logger name="org.apache.http.headers" level="WARN" additivity="false">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="CA"/>
        </Logger>
        <Logger name="org.apache.cxf" level="ERROR" additivity="false">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="CA"/>
        </Logger>
        <Logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="CA"/>
        </Logger>
        <Logger name="org.whitesource.agent" level="ERROR" additivity="false">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="CA"/>
        </Logger>
        <Logger name="com.cx" level="${sys:logLevel:-INFO}" additivity="false">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="CA"/>
        </Logger>
        <Logger name="com.checkmarx.configprovider" level="${sys:logLevel:-INFO}" additivity="false">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="CA"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="CA"/>
        </Root>
    </Loggers>
</Configuration>